* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

body {
    background-color: #1A605E;
    font-family: 'League Spartan', sans-serif;
    }

.navbar {
    color: #fff; 
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo-name {
    font-size: 27px; 
    font-weight: bold;
}

.navbar-link a {
    color: #fff; 
    font-size: 20px;
    margin-right: 20px; 
    text-decoration: none; 
   
}

.navbar-link a:hover {
    color: #222222;
    border-bottom: #222222 1px solid;
}


/*home*/

.first-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 94vh;
}
span {
     color: #9C6F58;
}

.bottom-home h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.bottom-home p {
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

.top-home img {
    width: 40%; 
    height: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}

.bottom-home {
    margin-bottom: 20px; 
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container .contact, .resume {
    margin: 0 10px; 
}

.button-container .contact a{
    color: #151515;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 25px;  
    text-decoration: none;
    background-color: #CACBCC; 
}

.button-container .resume a{
    color: #fff; 
    font-weight: bold;
    padding: 10px 20px;
     border-radius: 25px; 
    text-decoration: none; 
    border: 2px solid black; 
}

.button-container .contact a:hover {
    color: #1A605E;
}

.button-container .resume a:hover {
    border-color: #9C6F58;
}

/*media query*/

@media (max-width: 768px) {
    
.navbar-link a {
    font-size: 18px;
   margin-right: 10px;
}

.logo-name {
    font-size: 20px; 
    font-weight: bold;
}
    
.first-section {
    height: auto;
    padding: 20px 0;
}

.top-home img {
    width: 40%;
}

.bottom-home h1 {
    font-size: 25px;
}

.bottom-home p {
    line-height: 1.3;
    font-size: 14px;  
}
    
.button-container .contact a{
    padding: 7px 10px;
}

.button-container .resume a{
    padding: 7px 10px;  
}
    
}

@media (max-width: 480px) {
.navbar {
    color: #fff; 
    padding: 20px;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.navbar-link a {
    font-size: 14px;
    margin-right: 5px;
}

.logo-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.bottom-home h1 {
    font-size: 14px;
}

.top-home img {
    width: 40%;
}

.bottom-home p {
    line-height: 1;
    font-size: 12px;
 }

.button-container {
    flex-direction: column;
    align-items: center;
}

.button-container .contact, .resume {
    margin: 10px 0;
}

.button-container .contact a, .button-container .resume a {
    width: 100%;
    text-align: center;
}

}

/*about*/

.about{
    padding: 30px 0;
    margin: 30px 0;
    background-color: #fff;
}
.about h1{
    font-size: 50px;
    color: #1A605E;
    text-align: center;
}

.about .main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.about .left{
    max-width: 50%;
}

.about .left img{
    width: 330px;
}

.about .right{
    max-width: 40%;
}

.about .right p{
    color: #1A605E;
    font-size: 20px;
    line-height: 1.3;
    padding: 5px;
}

/*media query*/

@media (max-width: 768px) {
.about .main {
    text-align: center; 
    flex-direction: column; 
}

.about .left,
.about .right {
    max-width: 100%; 
}

.about .left img {
    max-width: 80%; 
    margin-top: 20px;
    margin-bottom: 20px; 
}

.about .right p {
    width: 70%; 
    margin: 0 auto; 
    font-size: 18px;
}

}

/*skills*/


.main1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-skill {
    color: #fff;
    width: 40%;
    padding: 30px;
    border-radius: 8px;
}

.right-skill h1 {
    margin-bottom: 15px;
}

.right-skill p {
     margin-bottom: 15px;
}

.left-skill {
    width: 50%;
}

.skill {
    margin-bottom: 20px;
}

.skills h1 {
    color: #fff;
    padding: 50px;
    font-size: 60px;
    text-align: center;
}

.skill-name {
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}
 .progress-bar {
    width: 80%;
    height: 20px;
    margin: auto;
    border-radius: 2px;
    background-color: #f0f0f0;
}

.progress {
    height: 100%;
    border-radius: 2px;
}

.html .progress {
    background-color: #4CAF50;
}

.css .progress {
    background-color: #2196F3;
}

.bootstrap .progress {
     background-color: #FF9800;
}

.javascript .progress {
     background-color: #9C27B0;
}

.php .progress {
     background-color: #FF5722;
}

.mysql .progress {
     background-color: #607D8B;
}

/* Media Query */

@media (max-width: 768px) {
.main1 {
    flex-direction: column;
}

.left-skill {
    width: 80%; 
    margin-bottom: 30px;
}

.right-skill {
    width: 80%; 
}

.skills h1 {
    font-size: 50px;
}

}

 /*projects*/

.fourth-section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f4f4f4;
}

.project h1 {
    color: #1A605E;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.card {
    width: 260px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card h2 {
    color: #333;
    margin: 15px 0;
    font-size: 24px;
}

.card p {
    font-size: 18px;
    color: #9C6F58;
    padding: 0 15px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.buttons {
    gap: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.button {
    color: #fff;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 15px;
    background-color: #1A605E;
}

.button:hover {
    color: #151515;
}

/*contact*/

.last-section {
    padding: 20px;
    margin: 20px 0;
    background-color: #1A605E;
}

.contact h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.container2 {
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-contact { 
    width: 45%;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 70px;
}

.left-contact img {
    width: 20px;
    margin-right: 10px;
    filter: invert(1);
    vertical-align: middle;
}

.right-contact {
    width: 45%;
}

.contact-form {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    color: #fff;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact-form button {
    border: none;
    color: #151515;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #fff;
}

.contact-form button:hover {
    color: #fff;
    background-color: #222222;
}

/* Media query */

@media (max-width: 768px) {
.container2 {
    align-items: center;
    flex-direction: column;
}

.left-contact,
.right-contact {
    width: 100%;
}

.left-contact {
    margin-bottom: 20px;
    text-align: center;
}

}


/*footer */

.footer {
    color: #222222;
    text-align: center;
    padding: 20px 20px;
    background-color: #fff;
}

.footer .container {
    display: flex;
     align-items: center;
    flex-direction: column;
}

.footer-content {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; 
}

.footer-left {
    max-width: 50%;
    text-align: left;
}

.footer-left .logo-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px; 
}

.footer-left p {
    line-height: 1.6;
}

.footer-right {
    gap: 20px;
    display: flex;
}

.footer-right a {
    color: #222222;
    font-size: 24px;
    transition: color 0.3s;
}

.footer1 {
    margin-top: 10px;
}

.footer-right a:hover {
    color: #1A605E;
}

.footer1 a {
    color: #222222;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.footer1 a:hover {
    color: #1A605E;
    border-bottom: 1px solid #1A605E;
}

/* Media Query */

@media (max-width: 768px) {

.footer-content {
    flex-direction: column;
    align-items: center;
}

.footer-left {
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

}

